.Card{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    width: 450px;
    height: 650px;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 150px;
    margin-left: 450px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
}
.Card .Image{
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.Card h1{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-style: oblique;

}
.btn__Val{
    width: 50%;
    height: 50px;
    background-color: rgb(101, 218, 6);
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-style: oblique;
    margin-bottom: 20px;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.5s;
}
.btn__Val:hover{
    background-color: #000;
    color: #fff;
}
@media screen and (max-width: 768px){
    .Card{
        width: 100%;
        margin-left: 0;
               
    }
}
    
